.center {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;

}

li,
ul {
    list-style: none;
}

#list {
    display: grid;
    justify-content: center;
    row-gap: 20px;

}



.del {
    background-color: white;
    font-size: 20px;
    font-weight: 600;
}

.divv {
    opacity: 0;
    display: none;

    background-color: white;
    max-width: 600px;
    height: 300px;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;

}

h2 {
    font-size: 50px;
}

.btnNo {
    color: white;
    background-color: gray;
    padding: 15px;
    font-size: 30px;
    margin-right: 60px;
}

.btnDell {
    color: white;
    background-color: rgb(218, 129, 129);
    padding: 15px;
    font-size: 30px;
}

.sub {
    font-size: 30px;
    margin-bottom: 50px;
}

.divvv {
    position: fixed;
    display: block;
    top: 30%;
    left: 40%;
    opacity: 1;
}

.item {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 700;
    column-gap: 20px;
    width: 700px;
    height: 60px;
    background-color: white;
    max-width: 1000px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

body {
    background-color: rgba(46, 46, 46, 0.623);
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    color: aliceblue;
}

.error {
    color: rgb(245, 104, 104);
    margin-top: 20px;
    font-size: 25px;
    font-weight: 900;
}

.succes {
    color: rgb(113, 216, 113);
    margin-top: 20px;
    font-size: 25px;
    font-weight: 900;
}

p {
    font-size: 30px;
    color: azure;
}

input {
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 15px;
    padding: 10px;
    font-size: 20px;
}

button {
    padding: 10px;
    border: none;
    font-size: 20px;
    border-radius: 15px;
}

.new {
    text-decoration: line-through;
    color: white;
    background-color: rgb(180, 177, 177);
}

.btndelllle {
    color: white;
    background-color: rgba(255, 255, 255, 0);
}